@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
}

:root {
  --bg-color: #315FE9;
  --icon-color: #889CB9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}
.container header {
  width: 100%;
  z-index: 100;
  position: sticky;
  background: #fff;
  top: 0;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}
.container header .contact-and-logo {
  display: flex;
  width: auto;
  height: 100%;
}
.container header .contact-and-logo .logo {
  width: 250px;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.container header .contact-and-logo .logo h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.container header .contact-and-logo .logo h2 span {
  font-weight: 400;
}
.container header .contact-and-logo .logo i {
  width: 30px;
  height: 30px;
  background-color: #1648DF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #fff;
}
.container header .contact-and-logo .logo .contact {
  width: 100px;
  height: 100px;
  background: #000;
}
.container header .contact-and-logo .contact {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}
.container header .contact-and-logo .contact .icons {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container header .contact-and-logo .contact .icons i {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-size: 20px;
  color: var(--icon-color);
}
.container header .contact-and-logo .contact .icons i:hover {
  color: var(--bg-color);
  cursor: pointer;
}
.container header .header-right {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 18px;
}
.container header .header-right .input {
  display: flex;
  align-items: center;
  width: 235px;
  height: 38px;
  border: 1px solid #D9E2EF;
  background: #F1F4F8;
  border-radius: 8px;
}
.container header .header-right .input i {
  font-size: 18px;
  color: #ADBED6;
  margin: 12px 5px 12px 12px;
}
.container header .header-right .input input {
  border: none;
  background: #F1F4F8;
  width: 100%;
  color: #ADBED6;
  padding: a;
  height: 100%;
  font-size: 16px;
  color: #ADBED6;
  font-weight: 500;
  padding: 20px;
}
.container header .header-right button {
  width: 141px;
  height: 38px;
  color: #315FE9;
  border: 1px solid #315FE9;
  background: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.container header .header-right button:hover {
  background: #ccd3e9;
}
.container header .menu {
  display: none;
}
.container main {
  display: flex;
}
.container main aside {
  max-width: 260px;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-top: 64px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 8px;
}
.container main aside i {
  width: 115px;
  height: 105px;
  background: #F9FBFD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #a0afc5;
  border-radius: 10px;
  gap: 5px;
  font-size: 25px;
}
.container main aside i span {
  font-size: 16px;
}
.container main aside i:hover {
  color: #315FE9;
}
.container main menu {
  width: 100%;
  gap: 20px;
  margin-left: 265px;
  z-index: 1;
}
.container main .card {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  filter: brightness(50%);
  justify-content: space-between;
}
.container main .card h2 {
  color: #fff;
  font-size: 18px;
}
.container main .card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container main .card .card-bottom p {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container main .card .card-bottom p i {
  font-size: 20px;
}
.container main .card .card-bottom a {
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 8px 0;
  background: #42BA96;
}
.container main .card1 {
  background-image: url(./img/pic-1.png);
  grid-area: card1;
}
.container main .card2 {
  grid-area: card2;
  background-image: url(./img/pic-2.png);
}
.container main .card3 {
  grid-area: card3;
  background-image: url(./img/pic-3.png);
}
.container main .card4 {
  grid-area: card4;
  background-image: url(./img/pic-4.png);
}
.container main .card5 {
  grid-area: card5;
  background-image: url(./img/pic-5.png);
}
.container main .card6 {
  grid-area: card6;
  background-image: url(./img/pic-6.png);
}
.container main .card7 {
  grid-area: card7;
  background-image: url(./img/pic-7.png);
}
.container main .card8 {
  grid-area: card8;
  background-image: url(./img/pic-8.png);
}
.container main .card9 {
  grid-area: card9;
  background-image: url(./img/pic-13.png);
}
.container main .card10 {
  grid-area: card10;
  background-image: url(./img/pic-14.png);
}
.container main .card11 {
  grid-area: card11;
  background-image: url(./img/pic-15.png);
}
.container main .card12 {
  grid-area: card12;
  background-image: url(./img/pic-16.jpg);
}
.container main .card13 {
  grid-area: card13;
  background-image: url(./img/pic-17.png);
}
.container main .card14 {
  grid-area: card14;
  background-image: url(./img/pic-18.png);
}
.container main .card15 {
  grid-area: card15;
  background-image: url(./img/pic-19.png);
}
.container main .card16 {
  grid-area: card16;
  background-image: url(./img/pic-20.png);
}

@media (max-width: 991px) {
  .container header .contact-and-logo .contact {
    display: none;
  }
  .container header .contact-and-logo .logo {
    width: 220px;
  }
  .container header .header-right {
    display: none;
  }
  .container header .menu {
    display: block;
    font-size: 29px;
    color: #ADBED6;
    padding: 5px 8px;
    border: 1px solid #ccd3e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: 20px;
  }
  .container main aside {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */